:root{
    --card-max-width: 100%;
    --card-min-width: 60vw;
    --card-min-height: 30vw;
}


.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.base-wrapper{
    display: flex;
    height: auto;
    width: 95vw;
    flex-direction: column;
}





/*
-------------------------------------
                CARD
-------------------------------------
*/



.card-list {
    max-width: 100vw;
    overflow: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
}


.list-wrapper {
    width: fit-content;
}